<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <CS.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Mandator" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountNo" serializeAs="String">
                <value />
            </setting>
            <setting name="Salutation" serializeAs="String">
                <value />
            </setting>
            <setting name="Address1" serializeAs="String">
                <value />
            </setting>
            <setting name="Address2" serializeAs="String">
                <value />
            </setting>
            <setting name="Supplementary" serializeAs="String">
                <value />
            </setting>
            <setting name="Street" serializeAs="String">
                <value />
            </setting>
            <setting name="Zip" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="Comission" serializeAs="String">
                <value />
            </setting>
            <setting name="Reference" serializeAs="String">
                <value />
            </setting>
            <setting name="Comment" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="Phone" serializeAs="String">
                <value />
            </setting>
            <setting name="Mail" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessID" serializeAs="String">
                <value />
            </setting>
        </CS.Properties.Settings>
    </userSettings>
</configuration>